@charset "UTF-8";

/*
Paleta de cores:
Verde: #49a09d
Lilas: #5f2c82
*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body,
html {
    body {
        background-image: linear-gradient(to top, #49a09d,
                #5f2c82);
    }

    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
   
    background-color: white;
    width: 260px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.452);

    transition: width .3s, height .3s;
    transition-timing-function: ease;
    transform: translate(-50%, -50%);
}

section#login>div#imagem {

    background: #5f2c82 url(../../imagens/pexels-soloman-soh-674993-1492232.jpg);
    background-size: cover;
    background-position: left bottom;
    height: 200px;
}

section#login>div#formulario {
    display: block;
    padding: 10px;
}

div#formulario {
    text-align: center;
    margin-bottom: 10px;
}

div>p {
    font-size: 0.8em;
}

.campo {
    background-color: #5f2c82;
    border-radius: 5px;
    height: 40px;
    margin: 5px 0px;

}



label {
    display: none;
}

#iLogin {
    border-radius: 5px;
    transform: translatey(-6.9px);
    background-color: #9ae4e1;
}

#iSenha {
    border-radius: 5px;
    transform: translatey(-6.9px);
    background-color: #9ae4e1;
}

#iLogin:focus-within{
    background-color: aliceblue;
}

#iSenha:focus-within{
    background-color: aliceblue;
}
div.campo {
    font-size: 30px;
    color: antiquewhite;
}

input {
    width: 85%;
    height: 95%;
}

form>input[type=submit] {
    display: block;
    background-color: #49a09d;
    color: aliceblue;
    font-size: 1em;
    height: 40px;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;


}

form>input[type=submit]:hover {
    background-color: #275857;
}

form>input[type=submit]:active {
    background-color: #183534;
}

.botaoEsqueci {
    border: 1px solid #275857;
    display: block;
    font-size: 1em;
    height: 40px;
    width: 100%;
    border-radius: 5px;
    text-decoration: none;
    color: #183534;
    padding: 5px;
    margin: 5px 0px;
    cursor: pointer;

}

.botaoEsqueci:hover {
    background-color: #49a09d;
}